.widget-panel {
  width: 1020px;
  height: auto;
  display: flex;
  flex-flow: row wrap;
}

.gallery {
  height: auto;
  padding: 2px;
  margin: 5px;
  border: solid;
  border-width: 1px;
  backgound-color: lightpink;
  display: flex;
  overflow: auto;
  flex-flow: row;
}

.widget {
  border: solid;
  border-width: 1px;
  height: auto;
  margin: 5px;
};

.vega-embed .chart-wrapper {
  width: inherit;
  height: inherit;
}